<mat-toolbar>
  <div class="menu-items">
    <button mat-button [routerLink]="['/movies']" [ngClass]="{ active: currentPage.startsWith('/movies') }">
      {{ "menu.peliculas" | translate }}
    </button>
    <button mat-button [routerLink]="['/actors']" [ngClass]="{ active: currentPage.startsWith('/actors') }">
      {{ "menu.actores" | translate }}
    </button>
    <button mat-button [routerLink]="['/studios']" [ngClass]="{ active: currentPage.startsWith('/studios') }">
      {{ "menu.estudios" | translate }}
    </button>
  </div>
</mat-toolbar>
