<div class="center" [ngClass]="{ above: updating }" *ngIf="(loading$ | async) === true || updating">
  <app-loading></app-loading>
</div>
<div *ngIf="movieData" class="movie">
  <img [src]="movieData.poster ? movieData.poster : '/assets/img/no-image.png'" />
  <div class="info">
    <div>
      <p><b>Título:</b> {{ movieData.title }}</p>
      <p><b>Puntuación:</b> {{ movieData.imdbRating }}</p>
    </div>
    <p><b>Géneros:</b> {{ movieData.genre?.join(", ") }}</p>
    <p><b>Año:</b> {{ movieData.year }}</p>
    <p><b>Duración:</b> {{ movieData.duration }}</p>
    <p><b>Actores:</b> {{ actors.join(", ") }}</p>
    <p><b>Sinopsis:</b> {{ movieData.sinopsis ? movieData.sinopsis : "Sin sinopsis" }}</p>
  </div>
  <div class="controles">
    <button mat-button (click)="editMovie()" [disabled]="updating">Editar</button>
    <button mat-button (click)="deleteMovie()" [disabled]="updating">Borrar</button>
  </div>
</div>
