<h1 mat-dialog-title>{{ data ? "Editar" : "Nueva" }} película</h1>
<mat-dialog-content class="mat-typography" [formGroup]="movieForm">
  <mat-form-field>
    <mat-label>Título</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="form.title.invalid && form.title.hasError('required')"> Debe rellenar este campo </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Póster</mat-label>
    <input matInput formControlName="poster" />
    <mat-hint>URL de la imagen</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Géneros</mat-label>
    <input matInput [(ngModel)]="genreInput" [ngModelOptions]="{ standalone: true }" />
    <button matSuffix mat-icon-button aria-label="Añadir género" (click)="addGenre()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>
  <mat-chip-list aria-label="Genres">
    <mat-chip *ngFor="let g of generosForm" (removed)="removeGenre(g)">
      {{ g }}
      <button matChipRemove aria-label="Borrar género">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>
  <mat-form-field>
    <mat-label>Año</mat-label>
    <input matInput formControlName="year" type="number" />
    <mat-error *ngIf="form.year.invalid && form.year.hasError('required')"> Debe rellenar este campo </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Duración</mat-label>
    <input matInput formControlName="duration" type="number" />
    <mat-hint>Duración en minutos</mat-hint>
    <mat-error *ngIf="form.duration.invalid && form.duration.hasError('required')">
      Debe rellenar este campo
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Actores</mat-label>
    <mat-select formControlName="actors" multiple>
      <mat-option *ngFor="let actor of actors" [value]="actor.id">
        {{ actor.first_name + " " + actor.last_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Puntuación</mat-label>
    <input matInput formControlName="imdbRating" type="number" />
    <mat-error *ngIf="form.imdbRating.invalid && form.imdbRating.hasError('required')">
      Debe rellenar este campo
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sinopsis</mat-label>
    <textarea matInput formControlName="sinopsis"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
  <button mat-button [disabled]="!movieForm.valid" (click)="saveMovie()">Guardar</button>
</mat-dialog-actions>
